.container{
    margin: 0px 0px 150px  0px ;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:white;
}

.title{
    font-size: 36px; /* Default font size for xs screens */

    @media (min-width: 600px) {
      font-size: 55px; /* Font size for sm and lg screens */
    }
  
    @media (min-width: 1280px) {
      font-size: 85px; /* Font size for lg screens */
    }
}

.title2{
    font-size: 36px; /* Default font size for xs screens */

    @media (min-width: 600px) {
      font-size: 55px; /* Font size for sm and lg screens */
    }
  
    @media (min-width: 1280px) {
      font-size: 85px; /* Font size for lg screens */
    }
    background: linear-gradient(93deg, rgba(15,33,162,1) 0%, rgba(101,18,155,1) 63%, rgba(191,20,182,1) 100%, rgba(0,212,255,1) 100%, rgba(0,0,0,1) 100%);
    -webkit-background-clip: text;
    background-clip:none;
    color: transparent;
}

.text{
    font-size: 24px; /* Default font size for xs screens */

    @media (min-width: 600px) {
      font-size: 48px; /* Font size for sm and lg screens */
    }
  
    @media (min-width: 1280px) {
      font-size: 48px; /* Font size for lg screens */
    }
}



.bitcoin{
    width: 80px;
    animation: boing 1s ease infinite alternate;
}

@keyframes boing{
    0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(30px); 
      }
}